@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
p {
    line-height: 1.3;
    margin: 10px 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
    background: #333;
}
.header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}
section {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
}
section .sidebar {
    width: 80px;
    padding: 20px 10px 0 20px;
    background: #222;
    color: white;
}
section h3 {
    width: 100%;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 50px;
    margin: 0;
}
section .column {
    flex: 1;
    background-attachment: fixed !important;
    background-size: cover !important;
    color: white;
    padding: 20px;
}
section:nth-of-type(1) .column.paris {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/paris/1.jpg);
}
section:nth-of-type(1) .column.dallas {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/dallas/1.jpg);
}
section:nth-of-type(2) .column.paris {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/paris/2.jpg);
}
section:nth-of-type(2) .column.dallas {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/dallas/2.jpg);
}
section:nth-of-type(3) .column.paris {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/paris/3.jpg);
}
section:nth-of-type(3) .column.dallas {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/dallas/3.jpg);
}
section:nth-of-type(4) .column.paris {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/paris/4.jpg);
}
section:nth-of-type(4) .column.dallas {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/dallas/4.jpg);
}
section:nth-of-type(5) .column.paris {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/paris/5.jpg);
}
section:nth-of-type(5) .column.dallas {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3)
        ),
        url(images/dallas/5.jpg);
}
article {
    padding: 20px;
}
footer {

}
